
TrabajoFinal/.vs/TrabajoFinal/config/applicationhost.config
TrabajoFinal/.vs/TrabajoFinal/config/applicationhost.config
TrabajoFinal/.vs/TrabajoFinal/config/applicationhost.config
TrabajoFinal/obj/Debug/TrabajoFinal.csproj.FileListAbsolute.txt
TrabajoFinal/obj/Debug/TrabajoFinal.csproj.CoreCompileInputs.cache
*.cache
TrabajoFinal/Grafico.aspx.designer.cs
*.config
*.dll
*.pdb
TrabajoFinal/.vs/TrabajoFinal/v16/.suo
*.config
TrabajoFinal/.vs/TrabajoFinal/v16/.suo
*.dll
*.pdb
*.cache
*.cache
TrabajoFinal/obj/Debug/TrabajoFinal.csproj.FileListAbsolute.txt
*.dll
*.pdb
TrabajoFinal/.vs/TrabajoFinal/v16/.suo
TrabajoFinal/bin/TrabajoFinal.dll
TrabajoFinal/bin/TrabajoFinal.pdb
TrabajoFinal/obj/Debug/TrabajoFinal.csproj.CoreCompileInputs.cache
TrabajoFinal/obj/Debug/TrabajoFinal.csproj.FileListAbsolute.txt
TrabajoFinal/obj/Debug/TrabajoFinal.dll
